
.exerciseFooter, .exerciseMain, .exerciseHeader {
    margin: 0 10px 10px 10px;
}

.exerciseHeader {
    display: flex;
}

.exerciseHeaderLogo {
    width: 200px;
    height: 80px;

}

.exerciseHeaderNav {
    width: 100%;
}

.exerciseHeaderNav ul {
    display: flex;
    list-style: none;
    gap: 10px;
}

.exerciseHeaderNav ul li {
    
}


/* Main */

.exerciseMain {
    display: flex;
    gap: 10px;
}

.exerciseMainLeftNav {
    width: 10%;

}

.exerciseMainContent {
    width: 90%;
}

.exerciseMainContent > * {
    margin: 10px;
}

.exerciseMainContentBanner {
}

.exerciseMainContentSubBanner {

}

.exerciseMainContentBlock {

}