/* ################################################## */
/* ########### Global classes / overrides ########### */
/* ################################################## */
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

p {
  font-size: 18px;
  line-height: 1.5;
  padding: 15px 0;
}

/* Fonts, classes are so I can reuse the styles on a variety of elements */
.merriweather { font-family: 'Merriweather', serif; }
      .oswald { font-family: 'Oswald', sans-serif; }
        .lato { font-family: 'Lato', sans-serif; }

/* Colors */
/* Dark yellow: #f2ff00 */
/* Lighter yellow: #ffd900 */
/* Light gray: #adadad */
/* Medium gray: #878787 */

/* Background Image */
/* https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/coworking.jpg */

body {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  margin: 0;
}

a,
a:visited {
  text-decoration:none;
}

/* Header */

.siteHeader {
  background-color: #000;
  border-bottom: 5px solid #f2ff00;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.siteHeader div.companyLogo {
  padding-left: 20px;
  
}

.companyLogo p,
.companyLogo p a, 
.companyLogo p a:visited {
  color: #f2ff00;
  font-family: 'Merriweather', serif;
  font-size: 24px;
}

/* main nav */

.navigation {
  
}

.navigation ul {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.navigation ul li,
.navigation ul li a,
.navigation ul li a:visited {
  color: white;
  font-size: 16px;
  padding: 0 10px 0 10px;
  margin: 0;
  text-align: center;
}

.navigation ul li.find {
  font-weight: bold; 
  font-family: 'Oswald', sans-serif;
}

/* top banner */

.banner {
  background-color: #adadad;
  text-align: center;
}

.strikethrough {
  text-decoration: line-through;
}

.emphasis {
  border-bottom: 3px solid #f2ff00;
  font-style: italic;
}

/* main image and pop up */

.background div.backgroundImage {
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/coworking.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 70%;
}

.background div.floatingWindow {
  width: 400px;
  border: 1px solid #adadad;
  background: rgba(235, 235, 235, 0.75);
  position: absolute;
  top: 30%;
  right: 3%;
}

.background p {
  margin: 0 20px 0 20px;
}

.background p.floatingWindowHeader {
  font-weight: bold;
  font-size: 20px;
}

.background p.floatingWindowContent {
  font-size: 16px;
  padding-top: 0;
}


.background p.button.light {
  background-color:#f2ff00;
  border-bottom: 2px solid #ffd900;
  color:black;
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 5px;
  font-size: 18px;
}

.background p.button.light a,
.background p.button.light a:visited {
  background-color:#f2ff00;
  color:black;
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 5px;
  font-size: 18px;
}

/* three blocks */

.threeBlocks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.threeBlocks div {
  padding-left: 30px;
  padding-right: 30px;
}

.threeBlocks div.firstBlock,
.threeBlocks div.secondBlock,
.threeBlocks div.thirdBlock {
  display: grid;
  grid-template-rows: 50px 100px 80px;
}

.threeBlocks div.firstBlock,
.threeBlocks div.secondBlock {
  border-right: 1px solid #adadad;
}

.threeBlocks p.blockHeading {
  text-align: left;
  font-family: 'Merriweather', serif;
  font-weight: bold;
  padding-top: 20px;
}

.threeBlocks p.blockContent {
  font-family: 'Merriweather', serif;
  font-size: 14px;
}

.threeBlocks p.button.dark {
  background-color:#adadad;
  border-bottom: 2px solid #878787;
  color:black;
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 5px;
  font-size: 18px;
}

.threeBlocks p.button.dark a,
.threeBlocks p.button.dark a:visited {
  background-color:#adadad;
  color:black;
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 5px;
  font-size: 18px;
}


/* Footer */

.siteFooter {
  background-color: black;
}

.siteFooter p {
  color: white;
  font-size: 12px;
  padding-left: 20px;
}