body,html,header,footer {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #414141;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#site-title {
    font-size: 3rem;
    padding-top: 2rem;
    font-family: 'Schoolbell', cursive;
}


#cta-select {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    margin-top: 2rem;
}

#cta-dropdown,#cta-surprise {
    background-color: #eee;
    border: transparent;
    color: #414141;
}

#cta-surprise:hover {
    background-color: #ccc;
}

#cta-buy {
    background-color: #F34133;
    border: transparent;
} 

#cta-buy:hover {
    background-color: #C92A2A;
    border: transparent;
} 

.book-result-off {
    display: none;
}

.book-result-on {
    margin: 2rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#book-title {
    margin-top: 2rem;
    font-size: 2rem;
    text-align: center;
}

.bookTitleContainer{
    max-width: 30rem;
    overflow-wrap: break-word;
    word-wrap: break-word;
   hyphens: auto;
}

#book-author {
    font-size: 1.5rem;
}

#book-image {
    max-width: 20rem;
    display: block;
    margin-bottom:2rem;
}

#book-desc {
    text-align: justify;
    margin: 2rem;
    max-width: 30rem;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
}

#cta-buy {
    margin: 2rem 0;
}

.site-footer {
    background: #eee;
    padding: 3rem 0px;
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

.site-footer p {
    margin: 0;
    /* color: #444; */
    font-size: 1rem;
    text-align: center;
    text-align: right;
}

.site-footer img {
    max-height:1.5rem;
    padding: 0 .5rem;
}


/****************************************/
/** Xsmall screens; width 0px to 575px **/
/****************************************/

@media (max-width:575px) {

    #cta-dropdown, #cta-buy, #cta-surprise { 
        width: 100%;
        padding: 1rem 0rem;
        font-size: 1.5rem;
        border-radius: 0;
    }

    #book-author {
        padding-bottom:2rem;
    }

    .dropdown {
        width: 100%;
        padding: 1rem 0rem;
    }

    #collapsibleButton {
        font-size: 1.5rem;
    }

    #bookDescriptionCollapsibleItem{
        border-right:none;
        border-left:none;
        border-radius: 0;
    }

    .mobile-show {
        width: 100%;
    }

    #book-desc {
        display: none;
    }
}

/**************************************/
/**************************************/

/****************************************/
/** Styles for small screens and larger **/
/****************************************/

@media (min-width: 576px) {

    .btn {
        width: 14rem;
    }  
    .mobile-show{
        display: none;
    }


}
/**************************************/
/**************************************/