body {
    margin: 0;
    padding: 0;
}

header #site-title {
    text-align: center;
    font-size: 3rem;
}

#cta-select {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    margin-top: 2rem;
}

#cta-dropdown, #cta-buy, #cta-surprise {
    background-color: #FF006E;
    border: transparent;
} 

/** Book result **/

/** show and hide book result **/

.book-result-off {
    display: none;
}

.book-result-on {
    margin: 2rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#book-result #book-title {
    margin-top: 2rem;
    font-size: 2rem;
}

#book-result #book-author {
    font-size: 1.5rem;
}

#book-result img {
    max-width: 20rem;
    display: block;
    margin-bottom:2rem;
}

#book-result #book-desc {
    text-align: justify;
    margin: 2rem;
    max-width: 30rem;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
}

#book-result #cta-buy {
    margin: 2rem 0;
}




/**************************************/
/** Xsmall screens; width 0px to 575px) **/

@media (max-width:575px) {

    #cta-dropdown, #cta-buy, #cta-surprise { 
        width: 100%;
        padding: 1rem 0rem;
        font-size: 1.5rem;
        border-radius: 0;
    }

    .dropdown {
        width: 100%;
        padding: 1rem 0rem;
    }

    .collapsible {
        background-color: #eee;
        color: #444;
        padding: 1rem;
        width: 100%;
        border: none;
        text-align: left;
        font-size: 1.5rem;
    }
    
    .collapsible:hover {
        background-color: #ccc;
    }

    #book-desc-mobile {
        width: 100%;
    }
}

/**************************************/
/**************************************/

/**************************************/
/** Styles for small screens and larger **/

@media (min-width: 576px) {

    .btn {
        width: 14rem;
    }  
}
/**************************************/
/**************************************/